In [269]:
import pandas as pd
import numpy as np

In [270]:
def print_dataframe_info(df, message=""):
    if message:
        print(message)
        print(" ")
    print(df)
    print("\n")
    print("-------------------------------------")

In [271]:
def basic_dataframe_info(df):
    df_inf = df.info()

    print_dataframe_info(df_inf, '')

In [272]:
def amt_of_na_values(df):
    df_na = df.isnull().sum()

    print_dataframe_info(df_na, 'Amount of NA values across all DataFrame')

In [273]:
def replace_na_for_name_and_hostname(df):
    df[['name', 'host_name']] = df[['name', 'host_name']].fillna(value='Unknown')
    df_replacing_names = df.isnull().sum()
    
    print_dataframe_info(df_replacing_names, 'Replacing NA for "name" and "hos_name" columns')

In [274]:
#check datatype of column "last_review" and replace to NaT
def replace_na_for_last_review(df):
    #change  datatype of column "last_review" from object to datetime (to having NaT value)
    df['last_review'] = pd.to_datetime(df['last_review'])
    df.dtypes
    df['last_review'] = df['last_review'].fillna(value=pd.NaT)
    df_lr = df['last_review'].head(30)

In [275]:
def categorise_price_ranges(df):
    df['price_category'] = np.where(df['price'] < 100, 'Low',
                              np.where(df['price'].between(100, 300), 'Medium', 'High')
                           )
    
    df_categoresed = df[['price', 'price_category']]

In [276]:
def minimum_nights(df):
    df['length_of_stay_category'] = np.where(df['minimum_nights'] <= 3, 'short-term',
                                      np.where(df['minimum_nights'].between(4, 14), 'medium-term', 'long-term')
                                    )
    
    df_categorise_night_amt = df[['minimum_nights', 'length_of_stay_category']]

In [277]:
def remove_price_equal_zero(df):
    #df[df['price'] <= 0]
    df = df.drop(df[df['price'] <= 0].index)
    df_check = df[df['price'] <= 0]

In [278]:
def write_dataframe_to_csv(df):
    try:
        df.to_csv('AirBnB_NY/cleaned_airbnb_data.csv', index=False)
        print('Success: The DataFrame was successfully written to csv file')
    except Exception as e:
        print('Fail: Failed to store file in csv')
        print(f'Error: {e}')

In [279]:
if __name__ == "__main__":
    df = pd.read_csv('AirBnB_NY/AB_NYC_2019.csv')
    display (df.head())
    basic_dataframe_info(df)
    amt_of_na_values(df)
    replace_na_for_name_and_hostname(df)
    replace_na_for_last_review(df)
    categorise_price_ranges(df)
    minimum_nights(df)
    remove_price_equal_zero(df)
    
    write_dataframe_to_csv(df)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None


-------------------------------------
Amount of NA values across all DataFrame

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64


-------------------------------------
Replacing NA for "name" and "hos_name" columns

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64


-------------------------------------
Success: The DataFrame was successfully written to csv file